.main {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    min-height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    flex: 1;
    border-color: lightgrey;
    min-width: 100%;
    min-height: 100%;
}

.input_group {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-right: 16px;
}

.input_prenom_nom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}