.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 48px 32px 48px;
  width: 100%;
  margin: 0;
  background-color: white;
  box-shadow: 24px 24px 2px 1px #1306F8;
  border: 5px black solid;
}

.picto {
  font-size: 40px;
  margin-bottom: 16px;
}

.contactForm h1 {
  margin-bottom: 48px;
  font-size: 36px;
}

.formGroup {
  width: 100%;
  margin-bottom: 24px;
}

.prenom {
  margin-right: 24px;
}

.formGroup_nom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  background-color: #1306F805;
  border: none;
  border-bottom: solid 5px black;
  font-family: Helvetica, Arial, sans-serif;
}

.formGroup input::placeholder, .formGroup textarea::placeholder {
  font-style: italic;
  color: #C5C5C5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.formGroup textarea {
  height: 150px;
}

.formGroup input {
  height: 50px;
}

.button {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding: 18px;
  font-size: 20px;
  color: #fff;
  background-color:  black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.button:hover {
  background-color: #1306F8
}

.titre {
  text-align: center;
}

/* Mobile */
@media (max-width: 700px) {

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 18px 24px 18px;
    width: 100%;
    margin: 0;
    background-color: white;
    box-shadow: 24px 24px 2px 1px #1306F8;
    border: 5px black solid;
  }
  
  .picto {
    font-size: 40px;
    margin-bottom: 16px;
  }
  
  .contactForm h1 {
    margin-bottom: 48px;
    font-size: 36px;
  }
  
  .formGroup {
    width: 100%;
    margin-bottom: 24px;
  }
  
  .prenom {
    margin-right: 24px;
  }
  
  .formGroup_nom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    background-color: #1306F805;
    border: none;
    border-bottom: solid 5px black;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .formGroup input::placeholder, .formGroup textarea::placeholder {
    font-style: italic;
    color: #C5C5C5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  
  .formGroup textarea {
    height: 200px;
  }
  
  .formGroup input {
    height: 50px;
  }
  
  .button {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    padding: 18px;
    font-size: 20px;
    color: #fff;
    background-color:  black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 24px;
    width: 100%;
    margin-bottom: 8px;
  }

  .titre {
    text-align: center;
  }
}
