.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
}

.image-container {
  position: relative;
  width: 50%;
  height: 50%;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coeur {
  max-width: 100%;
  max-height: 60%;
  z-index: 1;
  animation: pulse 2s infinite;
}

.lettrage {
  z-index: 2;
  max-width: 100%;
  max-height: 50%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {
  .coeur {
    max-width: 100%;
    max-height: 60%;
    z-index: 1;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .coeur {
    max-width: 90%;
    max-height: 45%;
    z-index: 1;
    animation: pulse 2s infinite;
  }

  .lettrage {
    z-index: 2;
    max-width: 70%;
    max-height: 40%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
